

<div class="main-navi">

<div id="tab">

        <div class="tabs">
            <li rel="panel1" class="active">北海道</li>
            <li rel="panel2" class="active">東北</li>
            <li rel="panel3" class="active">関東</li>
            <li rel="panel4" class="active">中部</li>
        </div> 
   
              <div id="panel1" class="panel active">

                      <div class="line">
                            <%= link_to area_prefecs_path(:area_id =>"石狩") do %><li>石狩</li><%end%>
                            <%= link_to area_prefecs_path(:area_id =>"空知") do %><li>空知</li><%end%>
                            <%= link_to area_prefecs_path(:area_id =>"後志") do %><li>後志</li><%end%>
                            <%= link_to area_prefecs_path(:area_id =>"渡島") do %><li>渡島</li><%end%>
                            <%= link_to area_prefecs_path(:area_id =>"檜山") do %><li>檜山</li><%end%>
                            <%= link_to area_prefecs_path(:area_id =>"胆振") do %><li>胆振</li><%end%>
                            <%= link_to area_prefecs_path(:area_id =>"日高") do %><li>日高</li><%end%>
                      </div>
                      <div class="linex">
                            <%= link_to area_prefecs_path(:area_id =>"上川") do %><li>上川</li><%end%>
                            <%= link_to area_prefecs_path(:area_id =>"留萌") do %><li>留萌</li><%end%>
                            <%= link_to area_prefecs_path(:area_id =>"宗谷") do %><li>宗谷</li><%end%>
                            <%= link_to area_prefecs_path(:area_id =>"オホーツク") do %><li>オホーツク</li><%end%>
                            <%= link_to area_prefecs_path(:area_id =>"十勝") do %><li>十勝</li><%end%>
                            <%= link_to area_prefecs_path(:area_id =>"釧路") do %><li>釧路</li><%end%>
                            <%= link_to area_prefecs_path(:area_id =>"根室") do %><li>根室</li><%end%>
                      </div>

              </div>

              <div id="panel2" class="panel">

                      <div class="line">
                            <%= link_to area_prefecs_path(:area_id =>"青森県") do %><li>青森県</li><%end%>
                            <%= link_to area_prefecs_path(:area_id =>"秋田県") do %><li>秋田県</li><%end%>
                            <%= link_to area_prefecs_path(:area_id =>"岩手県") do %><li>岩手県</li><%end%>
                      </div>
                      <div class="linex">
                            <%= link_to area_prefecs_path(:area_id =>"山形県") do %><li>山形県</li><%end%>
                            <%= link_to area_prefecs_path(:area_id =>"宮城県") do %><li>宮城県</li><%end%>
                            <%= link_to area_prefecs_path(:area_id =>"福島県") do %><li>福島県</li><%end%>
                      </div>

              </div>

              <div id="panel3" class="panel">

                      <div class="line">
                            <%= link_to area_prefecs_path(:area_id =>"茨城県") do %><li>茨城県</li><%end%>
                            <%= link_to area_prefecs_path(:area_id =>"栃木県") do %><li>栃木県</li><%end%>
                            <%= link_to area_prefecs_path(:area_id =>"群馬県") do %><li>群馬県</li><%end%>
                            <%= link_to area_prefecs_path(:area_id =>"埼玉県") do %><li>埼玉県</li><%end%>
                      </div>
                      <div class="linex">
                            <%= link_to area_prefecs_path(:area_id =>"東京都") do %><li>東京都</li><%end%>
                            <%= link_to area_prefecs_path(:area_id =>"神奈川県") do %><li>神奈川県</li><%end%>
                            <%= link_to area_prefecs_path(:area_id =>"千葉県") do %><li>千葉県</li><%end%>
                      </div>

              </div>

              <div id="panel4" class="panel">

                      <div class="line">
                            <%= link_to area_prefecs_path(:area_id =>"新潟県") do %><li>新潟県</li><%end%>
                            <%= link_to area_prefecs_path(:area_id =>"長野県") do %><li>長野県</li><%end%>
                            <%= link_to area_prefecs_path(:area_id =>"山梨県") do %><li>山梨県</li><%end%>
                            <%= link_to area_prefecs_path(:area_id =>"静岡県") do %><li>静岡県</li><%end%>
                            <%= link_to area_prefecs_path(:area_id =>"富山県") do %><li>富山県</li><%end%>
                      </div>
                      <div class="linex">
                            <%= link_to area_prefecs_path(:area_id =>"岐阜県") do %><li>岐阜県</li><%end%>
                            <%= link_to area_prefecs_path(:area_id =>"愛知県") do %><li>愛知県</li><%end%>
                            <%= link_to area_prefecs_path(:area_id =>"石川県") do %><li>石川県</li><%end%>
                            <%= link_to area_prefecs_path(:area_id =>"福井県") do %><li>福井県</li><%end%>
                      </div>

              </div>


</div>



<div id="tab">

        <div class="tabs">
            <li rel="panel5" class="active">近畿</li>
            <li rel="panel6" class="active">中国</li>
            <li rel="panel7" class="active">四国</li>
            <li rel="panel8" class="active">九州</li>
        </div> 

              <div id="panel5" class="panel">

                      <div class="line">
                            <%= link_to area_prefecs_path(:area_id =>"滋賀県") do %><li>滋賀県</li><%end%>
                            <%= link_to area_prefecs_path(:area_id =>"三重県") do %><li>三重県</li><%end%>
                            <%= link_to area_prefecs_path(:area_id =>"奈良県") do %><li>奈良県</li><%end%>
                            <%= link_to area_prefecs_path(:area_id =>"京都府") do %><li>京都府</li><%end%>
                      </div>
                      <div class="linex">
                            <%= link_to area_prefecs_path(:area_id =>"大阪府") do %><li>大阪府</li><%end%>
                            <%= link_to area_prefecs_path(:area_id =>"和歌山県") do %><li>和歌山県</li><%end%>
                            <%= link_to area_prefecs_path(:area_id =>"兵庫県") do %><li>兵庫県</li><%end%>
                      </div>

              </div>

              <div id="panel6" class="panel">

                      <div class="line">
                            <%= link_to area_prefecs_path(:area_id =>"鳥取県") do %><li>鳥取県</li><%end%>
                            <%= link_to area_prefecs_path(:area_id =>"岡山県") do %><li>岡山県</li><%end%>
                            <%= link_to area_prefecs_path(:area_id =>"広島県") do %><li>広島県</li><%end%>
                      </div>
                      <div class="linex">
                            <%= link_to area_prefecs_path(:area_id =>"島根県") do %><li>島根県</li><%end%>
                            <%= link_to area_prefecs_path(:area_id =>"山口県") do %><li>山口県</li><%end%>
                      </div>

              </div>

              <div id="panel7" class="panel">

                      <div class="line">
                            <%= link_to area_prefecs_path(:area_id =>"愛媛県") do %><li>愛媛県</li><%end%>
                            <%= link_to area_prefecs_path(:area_id =>"香川県") do %><li>香川県</li><%end%>
                      </div>
                      <div class="linex">
                            <%= link_to area_prefecs_path(:area_id =>"徳島県") do %><li>徳島県</li><%end%>
                            <%= link_to area_prefecs_path(:area_id =>"高知県") do %><li>高知県</li><%end%>
                      </div>

              </div>

              <div id="panel8" class="panel">

                      <div class="line">
                            <%= link_to area_prefecs_path(:area_id =>"福岡県") do %><li>福岡県</li><%end%>
                            <%= link_to area_prefecs_path(:area_id =>"大分県") do %><li>大分県</li><%end%>
                            <%= link_to area_prefecs_path(:area_id =>"宮崎県") do %><li>宮崎県</li><%end%>
                            <%= link_to area_prefecs_path(:area_id =>"佐賀県") do %><li>佐賀県</li><%end%>
                      </div>
                      <div class="linex">
                            <%= link_to area_prefecs_path(:area_id =>"熊本県") do %><li>熊本県</li><%end%>
                            <%= link_to area_prefecs_path(:area_id =>"鹿児島県") do %><li>鹿児島県</li><%end%>
                            <%= link_to area_prefecs_path(:area_id =>"長崎県") do %><li>長崎県</li><%end%>
                            <%= link_to area_prefecs_path(:area_id =>"沖縄県") do %><li>沖縄県</li><%end%>
                      </div>

              </div>

</div>

</div>