<%= stylesheet_link_tag "/language", :media => "all" %>

<% @page_title = "JAPAN" %>
<% @title = @page_title %> 

<%= content_for(:uheader)  do %>
    <%= render 'shared/uheader' %>
<% end %>

<%= content_for(:main)  do %>

  <% @languages.each do |language| %>
    <% url = "http://localhost:3000/welcome/index?locale=" + language.context %>
    <div class="language-index-item">
      <%= link_to language.context, url %>
    </div>
  <% end %>

<% end %>

<%
=begin%>
 <%= content_for(:mnavi)  do %>
    <%= render 'shared/top/mnavi' %>
<% end %> 
<%
=end%>

<% img="template/ff" %>

<% @adimg1 = link_to image_tag(img, 
                            { :alt =>'FIND　F9　find999'}),
                              %>

<% @adimg2 = link_to image_tag(img, 
                            { :alt =>'FIND　F9　find999'}),
                              %>

<% @adimg3 = link_to image_tag(img, 
                            { :alt =>'FIND　F9　find999　info'}),
                              %>

<% @adimg4 = link_to image_tag(img, 
                            { :alt =>'FIND　F9　find999　info'}),
                              %>

<% @adimg5 = link_to image_tag(img, 
                            { :alt =>'FIND　F9　find999　info'}),
                              %>

<% @adimg6 = link_to image_tag(img, 
                            { :alt =>'FIND　F9　find999　info'}),
                              %>

<% @adimg7 = link_to image_tag(img, 
                            { :alt =>'FIND　F9　find999　info'}),
                              %>

<% @adimg8 = link_to image_tag(img, 
                            { :alt =>'FIND　F9　find999　info'}),
                              %>

<% @adimg9 = link_to image_tag(img, 
                            { :alt =>'FIND　F9　find999　info'}),
                              %>

<% @adimg10 = link_to image_tag(img, 
                            { :alt =>'FIND　F9　find999　info'}),
                              %>


<% @adname1 = "広告１" %>
<% @adname2 = "広告２" %>
<% @adname3 = "広告３" %>
<% @adname4 = "広告４" %>
<% @adname5 = "広告５" %>
<% @adname6 = "広告６" %>
<% @adname7 = "広告７" %>
<% @adname8 = "広告８" %>
<% @adname9 = "広告９" %>
<% @adname10 = "広告１０" %>