

<div id="second-feature">

        <div id="mainBox">

                    <div class="child">
                        <div class="img">
                            <%= link_to image_tag("video.jpg", { :alt =>'FIND　F9　find999'}), video_welcome_index_path %>
                        </div>
                        <h2 class="title">使い方</h2>              
                    </div>

                    <div class="child">
                        <div class="img">
                            <%= link_to image_tag("template/logo0", { :alt =>'FIND　F9　find999'}), allf9_welcome_index_path %>
                        </div>
                        <h2 class="title">各国のF9</h2>
                    </div>

                    <div class="child">
                        <div class="img"><%= @adimg1 %></div>
                        <h2 class="title"><%= @adname1 %></h2>
                    </div>

                    <div class="child">
                        <div class="img"><%= @adimg2 %></div>
                        <h2 class="title"><%= @adname2 %></h2>
                    </div>

                    <div class="child">
                        <div class="img"><%= @adimg3 %></div>
                        <h2 class="title"><%= @adname3 %></h2>
                    </div>

                    <div class="child">
                        <div class="img"><%= @adimg4 %></div>
                        <h2 class="title"><%= @adname4 %></h2>
                    </div>

                    <div class="child">
                        <div class="img"><%= @adimg5 %></div>
                        <h2 class="title"><%= @adname5 %></h2>
                    </div>

                    <div class="child">
                        <div class="img"><%= @adimg6 %></div>
                        <h2 class="title"><%= @adname6 %></h2>
                    </div>

                    <div class="child">
                        <div class="img"><%= @adimg7 %></div>
                        <h2 class="title"><%= @adname7 %></h2>
                    </div>

                    <div class="child">
                        <div class="img"><%= @adimg8 %></div>
                        <h2 class="title"><%= @adname8 %></h2>
                    </div>

                    <div class="child">
                        <div class="img"><%= @adimg9 %></div>
                        <h2 class="title"><%= @adname9 %></h2>
                    </div>

                    <div class="child">
                        <div class="img"><%= @adimg10 %></div>
                        <h2 class="title"><%= @adname10 %></h2>
                    </div>
                    
        </div>

</div>
