		


		
	<div id="sheader">

        <div class="search">
				<p id="sbox1"><%= link_to image_tag("category/a", { :alt =>'FIND　F9　find999　info'}), asearch_asshops_path %></p>
				<p id="sbox2"><%= link_to image_tag("category/b", { :alt =>'FIND　F9　find999　info'}) %></p>
				<p id="sbox2"><%= link_to image_tag("category/c", { :alt =>'FIND　F9　find999　info'}) %></p>
				<p id="sbox2"><%= link_to image_tag("category/d", { :alt =>'FIND　F9　find999　info'}) %></p>
				<p id="sbox2"><%= link_to image_tag("category/e", { :alt =>'FIND　F9　find999　info'}) %></p>
				<p id="sbox2"><%= link_to image_tag("category/f", { :alt =>'FIND　F9　find999　info'}) %></p>
				<p id="sbox2"><%= link_to image_tag("category/g", { :alt =>'FIND　F9　find999　info'}) %></p>
				<p id="sbox2"><%= link_to image_tag("category/h", { :alt =>'FIND　F9　find999　info'}) %></p>
		 </div>

	</div>
