

	<div id="tuheader">
		<%= link_to "https://f9-shop.jp/welcome/index" do %><%= image_tag 'template/logo0.gif', :size => "110x110" %><% end %>
		<%= link_to @back do %><%= image_tag 'template/fmg.gif', :size => "110x110" %><% end %>
		<%= link_to @back do %><%= image_tag 'template/ff.gif', :size => "110x110" %><% end %>
		<%= link_to @back do %><%= image_tag 'template/ftv.gif', :size => "110x110" %><% end %>
		
	</div>

	<p id="title"><%= title %></p> 