

<% @page_title = "JAPAN" %>
<% @title = @page_title %> 

<%= content_for(:uheader)  do %>
    <%= render 'shared/uheader' %>
<% end %>

<%= content_for(:main)  do %>

    <%= stylesheet_link_tag "top", :media => "all" %>
    <%= stylesheet_link_tag "temp/mnavi", :media => "all" %>
    <%= stylesheet_link_tag "slick/slick.css", :media => "screen" %>
    <%= stylesheet_link_tag "slick/slick-theme.css", :media => "screen" %>
    <%= javascript_include_tag "welcome" %>
    <%= javascript_include_tag "slick.min" %>

           <div id="main-feature">

							<ul class="slider">
									<li class="slick-list"><%= image_tag "top/top", :alt =>'FIND　FF　ff　find forum　トップ'  %><p>find fourum</p></li>
									<li><%= image_tag "top/top", :alt =>'FIND　FF　ff　find　forum　トップ'  %><p>広告１</p></li>
                  <li><%= image_tag "top/3", :alt =>'FIND　FF　ff　find　forum　トップ'  %><p>広告２</p></li>
                  <li><%= image_tag "top/3", :alt =>'FIND　FF　ff　find　forum　トップ'  %><p>広告３</p></li>
                  <li><%= image_tag "top/3", :alt =>'FIND　FF　ff　find　forum　トップ'  %><p>広告４</p></li>
                  <li><%= image_tag "top/3", :alt =>'FIND　FF　ff　find　forum　トップ'  %><p>広告５</p></li>
                  <li><%= image_tag "top/3", :alt =>'FIND　FF　ff　find　forum　トップ'  %><p>広告６</p></li>
                  <li><%= image_tag "top/3", :alt =>'FIND　FF　ff　find　forum　トップ'  %><p>広告７</p></li>
                  <li><%= image_tag "top/3", :alt =>'FIND　FF　ff　find　forum　トップ'  %><p>広告８</p></li>
                  <li><%= image_tag "top/3", :alt =>'FIND　FF　ff　find　forum　トップ'  %><p>広告９</p></li>
                  <li><%= image_tag "top/3", :alt =>'FIND　FF　ff　find　forum　トップ'  %><p>広告１０</p></li>
							</ul>

           </div>

<% end %>

<%= content_for(:mnavi)  do %>
    <%= render 'shared/top/mnavi' %>
<% end %>

<% img="template/ff" %>

<% @adimg1 = link_to image_tag(img, 
                            { :alt =>'FIND　F9　find999'}),
                              %>

<% @adimg2 = link_to image_tag(img, 
                            { :alt =>'FIND　F9　find999'}),
                              %>

<% @adimg3 = link_to image_tag(img, 
                            { :alt =>'FIND　F9　find999　info'}),
                              %>

<% @adimg4 = link_to image_tag(img, 
                            { :alt =>'FIND　F9　find999　info'}),
                              %>

<% @adimg5 = link_to image_tag(img, 
                            { :alt =>'FIND　F9　find999　info'}),
                              %>

<% @adimg6 = link_to image_tag(img, 
                            { :alt =>'FIND　F9　find999　info'}),
                              %>

<% @adimg7 = link_to image_tag(img, 
                            { :alt =>'FIND　F9　find999　info'}),
                              %>

<% @adimg8 = link_to image_tag(img, 
                            { :alt =>'FIND　F9　find999　info'}),
                              %>

<% @adimg9 = link_to image_tag(img, 
                            { :alt =>'FIND　F9　find999　info'}),
                              %>

<% @adimg10 = link_to image_tag(img, 
                            { :alt =>'FIND　F9　find999　info'}),
                              %>


<% @adname1 = "広告１" %>
<% @adname2 = "広告２" %>
<% @adname3 = "広告３" %>
<% @adname4 = "広告４" %>
<% @adname5 = "広告５" %>
<% @adname6 = "広告６" %>
<% @adname7 = "広告７" %>
<% @adname8 = "広告８" %>
<% @adname9 = "広告９" %>
<% @adname10 = "広告１０" %>