
<%= favicon_link_tag('apple-touch-icon-180x180.gif', {:rel => 'apple-touch-icon', :sizes => '180x180', :type => 'image/gif'}) %> 

<%= csrf_meta_tag %>
    
<%= stylesheet_link_tag "temp/header", :media => "all" %>
<%= stylesheet_link_tag "temp/sheader", :media => "all" %>
<%= stylesheet_link_tag "temp/uheader", :media => "all" %>
<%= stylesheet_link_tag "temp/top/secondf", :media => "all" %>
<%= stylesheet_link_tag "temp/footer", :media => "all" %>

<%= stylesheet_link_tag "slick/slick.css", :media => "screen" %>
<%= stylesheet_link_tag "slick/slick-theme.css", :media => "screen" %>
  

    
<head>
    <title><%= page_title %></title>
    <%= display_meta_tags(default_meta_tags) %>
</head>

<body>

    <div id="wrapper">
           <%= render 'shared/header' %>
           <div id="fmessage"><p class="notice"><%= notice %></p><p class="alert"><%= alert %></p></div>
           <%= render 'shared/sheader' %>
           <%= yield(:uheader) %>
           <%= yield(:main) %>
           <%= yield(:mnavi) %>
           <%= render 'shared/sfeature1' %>
           <%= render 'shared/footer' %>
    </div>

</body>

</html>
